<html>

<head>
	<link rel="stylesheet" type="text/css" href="{{ styles }}">
	<script type="text/javascript" src="{{ jquery }}"></script>	
</head>

<audio controls id="player" onended="$('#next').trigger('click')">
  <source id="file" src="https://dl.dropboxusercontent.com/s/l2oi4xjmk18h46w/taylor%20swift%20-%20you%27re%20not%20sorry.m4a" type="audio/mpeg">
</audio>

<span id="prev">
	Prev
</span>

<span id="next">
	Next
</span>

<ul id="trackList">
	Tracks
</ul>

<script>

$(document).ready(function(){
	var songList = [],
		titleList = [],
		songFor = new Object(),
	 	song,
	 	len = 0,
	 	curr = 0,
	 	formatted,
	 	audio = $("#player"),
	 	file = $("#file");

	function format(s) {
		var end,
			title = s,
			formats = ['.mp3', '.m4a', '.wav', '.ogg'];

		title = title.replace(/%27/g,"'").replace(/%[0-9][0-9]/g," ").replace(/_/g," ");	
		for (i = 0; i < formats.length; i++) {
			end = title.indexOf(formats[i]);
			if (end != -1) {
				break;
			}
		}
		title = title.substring(52,end);
		return title;
	}

	{% for s in songs %}
		song = "{{ s }}";
		formatted = format(song);
		songList.push(song);
		titleList.push(formatted);
		songFor[formatted] = song;
		len++;
	{% endfor %}
	console.log(songFor)
	function isEmpty() {
		if (len == 0) {
			$("#trackList").append("<br>Looks like you haven't added any songs yet. There should be a new folder called 'jook' in your dropbox. Drag some songs into it, then refresh the page!")
		} 
	}

	function getSorted() {
		var lowered = titleList.slice(),
			upperOf = new Object(),
			title;

		for (i = 0; i < len; i++) {
			lowered[i] = lowered[i].toLowerCase();
			upperOf[lowered[i]] = titleList[i];
		}		
		console.log(upperOf)
		lowered = lowered.sort();
		
		for (i = 0; i < len; i++) {
			title = upperOf[lowered[i]];
			$("#trackList").append("<li id=" + (i+1) + ">" + title + "</li>");
			songList[i] = songFor[title];
		}
	}

	function changeTrack() {
	    file.attr("src", songList[curr]);
	    audio[0].pause();
		audio[0].load();
		audio[0].play();
	}
	
	$("#prev").click(function() {
		if (curr == 0) {
			curr = len-1;
		}
		else {
			curr--;
		}
		changeTrack();
	});	

	$("#next").click(function() {
		if (curr == len-1) {
			curr = 0;
		}
		else {
			curr++;
		}
		changeTrack();
	});	

	$(document).on('click', "#trackList li", function() {
		var id = $(this).attr('id') - 1;
		
		curr = id;
		changeTrack();
		console.log(curr)
	});

	isEmpty();
	getSorted();
	changeTrack();

});

</script>

</html>